<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
</head>
<body>
  <nav class="navbar">
    <a href="/profile" class="profile">
        My Profile
        <div class="logo">
            <svg width="40" height="40" viewBox="0 0 400 400" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M335 343.43H65V300.06C65 254.02 102.33 216.69 148.37 216.69H251.63C297.67 216.69 335 254.02 335 300.06V343.43Z"
                    stroke="aqua" stroke-width="12" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M200 186.57C235.899 186.57 265 157.468 265 121.57C265 85.6713 235.899 56.5698 200 56.5698C164.101 56.5698 135 85.6713 135 121.57C135 157.468 164.101 186.57 200 186.57Z"
                    stroke="aqua" stroke-width="12" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
    </a>
    <a href="/logout" class="logout">
        Logout
        <div class="menu-toggle">
            <svg width="40" height="40" viewBox="0 0 400 400" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M200 350C282.843 350 350 282.843 350 200C350 117.157 282.843 50 200 50C117.157 50 50 117.157 50 200C50 282.843 117.157 350 200 350Z"
                    stroke="red" stroke-width="12" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M262 141.91L138 265.91" stroke="red" stroke-width="12" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M262 265.91L138 141.91" stroke="red" stroke-width="12" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
    </a>
</nav>

    <div class="container">
        <% const profiles = posts.filter(post => post.imageText === "dp") %>
        <% const postsToShow = posts.filter(post => post.imageText !== "dp") %>
        <% postsToShow.forEach(post => { %>
            <div class="box">
                <a href="/images/uploads/<%= post.image %>"><img src="/images/uploads/<%= post.image %>"></a>
                <div class="user-overlay">
                    <% const matchingProfile = profiles.find(profile => profile.user.username === post.user.username) %>
                    <% if (matchingProfile) { %>
                        <a class="dp" href="/images/uploads/<%= matchingProfile.image %>"><img src="/images/uploads/<%= matchingProfile.image %>"></a>
                        <%= post.user.username %>
                    <% } else { %>
                        <%= post.user.username %>  
                    <% } %>
                </div>
                <div class="caption-overlay">
                    <%= post.imageText %>
                </div>
            </div>
        <% }) %>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</body>
</html>
